<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.6435-9/80780111_1210152795855144_6019806409519005696_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeFgj2UfS6wechfd8f7Ch6IyD-8TeVlefi0P7xN5WV5-LYDrRNn6MvtXzzrPy7hkyRFZN2FQx4ZIJco9JjPXqZ-l&_nc_ohc=JZhqBVBn8xYAX8La-mi&_nc_ht=scontent-frx5-1.xx&oh=00_AT9KCJ7lY4lg9tHqcRwkQ8Y0Xuc3JWBCLxBALFb0QTOLHA&oe=62D634CF" alt="">
<h1 style="color: green;">Ald Air</h1>
<p>Antó Nio</p>
<a href="mailto:aldairrafael848@gmail.com">Raf Ael</a>
</ion-content>
